<template>
    <div>
        <div class="card">
            <form  @submit.prevent="register" @keydown="form.onKeydown($event)" enctype="multipart/form-data">
                <div class="card-header">
                    <p class="mb-4">Registra tus datos y nos contactaremos en breve.</p>

                </div>
                <div class="card-body">
                    <div class="row g-3">
                        <div class="col-sm-6">
                            <!-- text input -->
                            <div class="form-floating">

                                <select name="" id="" class="form-select" v-model="form.tipo">
                                    <!-- <option value="">-Seleccione tipo-</option> -->
                                    <option v-for="(item, index) in tipopersonas" :value='item.id'>{{item.tipo}}</option>
                                </select>
                                <label>Persona / Empleador</label>
                            </div>
                        </div>
                        <div class="col-md-6" v-if="form.tipo == 'E'">
                            <!-- text input -->
                            <div class="form-floating">
                                <input type="text" class="form-control" name="dni" maxlength="10"
                                    autocomplete="off" required v-model="form.dnirut" >
                                <label>DNI/RUT</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <!-- text input -->
                            <div class="form-floating">
                                <input type="text" class="form-control" name="nombres"
                                    autocomplete="off" required v-model="form.nombres">
                                <label>Nombres</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <!-- text input -->
                            <div class="form-floating">
                                <input type="text" class="form-control" name="apellidos"
                                    autocomplete="off" required v-model="form.apellidos">
                                <label>Apellidos</label>
                            </div>
                        </div>
                        <div class="col-md-6" v-if="form.tipo == 'T'">
                            <!-- text input -->
                            <div class="form-floating">
                                <input type="number" class="form-control" name="edad"
                                    required v-model="form.edad">
                                <label>Edad</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <!-- text input -->
                            <div class="form-floating">
                                <input type="number" class="form-control" name="celular"
                                    required v-model="form.celular">
                                <label>Celular</label>
                            </div>
                        </div>
                        <div class="col-md-6" v-if="form.tipo == 'T'">
                            <div class="form-floating">
                                <input type="text" class="form-control" name="ciudad"
                                    required v-model="form.ciudad">
                                <label>Lugar de procedencia</label>
                            </div>
                        </div>
                        <div class="col-md-6" v-if="form.tipo == 'T'">
                            <div class="form-floating">
                                <select name="religion" id="" class="form-select" required v-model="form.religion">
                                    <option value="">-Seleccione-</option>
                                    <option  v-for="relig in religions" :value='relig.id'>{{ relig.religion }}</option>
                                </select>
                                <label>Religión</label>
                            </div>
                        </div>
                        
                        <div class="col-md-6" v-if="form.tipo == 'E'">
                            <div class="form-floating">
                                <input type="text" class="form-control" name="ciudad"
                                    required v-model="form.ciudad">
                                <label>Ciudad</label>
                            </div>
                        </div>
                        <div class="col-md-6" v-if="form.tipo == 'E'">
                            <div class="form-floating">
                                <input type="text" class="form-control" name="direccion"
                                    required v-model="form.direccion">
                                <label>Dirección de empleo</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <select name="servicio" id="" class="form-select" required v-model="form.servicio">
                                    <option value="">-Seleccione-</option>
                                    <option v-for="serv in servicios" :value="serv.id" >{{ serv.servicio}}</option>
                                </select>
                                <label>Servicio</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <select name="modalidad" id="" class="form-select" required v-model="form.modalidad">
                                    <option value="">-Seleccione-</option>
                                    <option v-for="mod in modalidads" :value="mod.id">{{mod.modalidad}}</option>
                                </select>
                                <label>Modalidad</label>
                            </div>
                        </div>
                        <div class="col-sm-12" v-if="form.tipo == 'T'">
                            <div class="form-floating">
                                <textarea name="comentario" id="" cols="30" rows="5" class="form-control" style="height: 150px"
                                    placeholder="Coméntanos de ti..." required v-model="form.comentario"></textarea>
                                <label>Comentario</label>
                            </div>
                        </div>
                        <div class="col-sm-12" v-if="form.tipo == 'E'">
                            <div class="form-floating">
                                <textarea name="solicito" id="" cols="30" rows="5" class="form-control" style="height: 150px"
                                    placeholder="Que deseas solicitar?" required v-model="form.solicito"></textarea>
                                <label>Solicito:</label>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="card-footer">
                    <div class="row">
                        <div class="col-12">
                            <button type="submit" class="btn btn-success float-right" :disabled="form.busy">
                                Registrarme
                            </button>
                            <h6 style="color: warning">{{ procesando }}</h6>
                        </div>
                    </div>
                </div>
            </form>

        </div>
        <!-- <div class="wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
        </div> -->
    </div>
</template>

<script>
    import Form from 'vform'
    export default {
        data() {
            return {
                procesando: "",
                form: new Form({
                    nombres:'',
                    apellidos:'',
                    edad:'',
                    celular:'',
                    religion:'',
                    servicio:'',
                    modalidad:'',
                    comentario:'',
                    tipo:'T',
                    dnirut:'',
                    direccion:'',
                    solicito:''
                }),
                tipopersonas:[
                    {tipo:'Busco Trabajo',id:'T'},
                    {tipo:'Soy Empleador',id:'E'}
                ],
                religions:[],
                servicios:[],
                modalidads:[],
            };
        },
        methods:{
            async register () {
                this.procesando = "Espere...";
                const response = await this.form.post('/registerData')
                if (response.data.status == '1') {
                    this.procesando = '';
                    alert('Se registro con éxito')
                }
                this.form.reset();
            },
            getServices(){
                const self = this;
                axios.get('/getApiServicces')
                .then(function (response) {
                    self.religions = response.data.religions;
                    self.servicios = response.data.servicios;
                    self.modalidads = response.data.modalidades;
                })
                .catch(function (error) {
                    // handle error
                    console.log(error);
                })
                .finally(function () {
                    // always executed
                });
            },

        },
        mounted() {
            this.getServices();
            // console.log('Componente Montado.')
        }
    }
</script>
